// Colors
$bg-primary: #edf0eb;
$bg-secondary: #18204a;
$bg-footer: #c1cebd;
$bg-white: #ffffff;
// Font
$font-primary: "Poppins", sans-serif;
$normal-fsize: 1.5vmax;
$large-fsize: 2vmax;
$small-fsize: 1.2vmax;
// Margins
$horizontal-margin: 8vmax;
$vertical-margin: 5vmax;
// Borders
$border-property: 0.2vmax solid $bg-secondary;

*,
html {
  margin: 0;
  padding: 0;
  font-family: $font-primary;
  background-color: $bg-primary;
}

.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.center {
  justify-content: center;
  align-items: center;
}

header {
  padding: $vertical-margin $horizontal-margin;
  justify-content: space-between;
}

nav {
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1.5vmax;
}

hr {
  height: 0.15vmax;
  margin: 5vmax 0vmax;
  background-color: $bg-secondary;
  border: none;
}

.btn {
  padding: 1vmax 2.5vmax;
  border: none;
  border-radius: 1vmax;
  font-size: $normal-fsize;
  font-weight: 500;
}
.btn:hover {
  cursor: pointer;
  box-shadow: 1px 2px $bg-secondary;
}
.primary {
  background-color: $bg-secondary;
  color: $bg-white;
}
.alt {
  background-color: $bg-primary;
  color: $bg-secondary;
  border: 1px solid $bg-secondary;
}

.title {
  color: $bg-secondary;
  text-transform: uppercase;
  font-size: 3.8vmax;
  font-weight: 700;
  line-height: 4.6vmax;
  cursor: pointer;
}

.main-section {
  flex-wrap: wrap;
  height: 50vh;
  margin-bottom: 3.5vmax;
  justify-content: center;
  gap: 0.8vmax;
}

.t1 {
  align-items: flex-start;
}
.t2 {
  align-items: flex-end;
}

.text-section {
  align-items: center;
  gap: 3.2vmax;

  p {
    font-size: 4.8vmax;
    font-weight: 600;
    color: $bg-secondary;
  }

  div {
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 1.2vmax;

    input {
      height: 100%;
      width: 30vmax;
      padding: 0vmax 1.2vmax;
      background-color: $bg-white;
      color: #a0a0a0;
      border: none;
      border-radius: 1vmax;
      font-size: $normal-fsize;
    }

    i {
      position: absolute;
      right: 12.5vmax;
      color: $bg-secondary;
    }
  }
}

.headings {
  margin: 0vmax $horizontal-margin;
  padding: 2vmax 0vmax;
  justify-content: space-between;
  font-size: 2vmax;
  font-weight: 600;
  color: $bg-secondary;

  border-top: $border-property;
  border-bottom: $border-property;
}

.title-text {
  font-size: $large-fsize;
  font-weight: 700;
  color: $bg-secondary;
}

.steps-container {
  margin: 0vmax $horizontal-margin;
}
.steps {
  padding: 2vmax 2.8vmax 5vmax 2.8vmax;
  gap: 0.78vmax;
}
#step1 {
  border-right: $border-property;
}
#step2 {
  border-right: $border-property;
}
.txt {
  font-size: $small-fsize;
  font-weight: 400;
  color: $bg-secondary;
}
.step-imgs {
  height: 18.75vmax;
  width: 17.2vmax;
}

.slab {
  margin: 0vmax $horizontal-margin;
  padding: 1.5vmax 0vmax;
  // width: 100%;
  justify-content: space-between;
  align-items: center;
}
#slab1 {
  border-bottom: $border-property;
}
#slab2 {
  border-bottom: $border-property;
}
.text-area {
  width: 25%;
  align-items: flex-start;
  gap: 1.5vmax;
}
.work-imgs {
  height: 20vmax;
  width: 40vmax;
}

.slab-alt {
  margin: $vertical-margin $horizontal-margin;
  padding: 1.5vmax 0vmax;
  justify-content: space-between;
  align-items: center;
  border-bottom: $border-property;

  div {
    width: 35%;
  }
}
.final-img {
  height: 25vmax;
  width: 50vmax;
}

footer {
  margin-top: 15vmax;
  padding: $vertical-margin $horizontal-margin;
  height: 20vmax;
  gap: 4.5vmax;
  background-color: $bg-footer;
  box-shadow: 10px 20px 30px $bg-secondary;

  div {
    background-color: $bg-footer;
    p {
      background-color: $bg-footer;
      cursor: pointer;

      b {
        background-color: $bg-footer;
      }
    }
  }
}
.in-footer {
  width: 60%;
}

@media (max-width: 500px) {
  #to-remove {
    display: none;
  }
  header {
    padding-left: 2vmax;
    width: 90%;
    justify-content: space-between;
  }

  .headings {
    margin: 0vmax 2vmax;
  }
  .steps-container {
    margin: 0vmax 2vmax;
  }

  .slab {
    margin: 0vmax 2vmax;
    align-items: center;
    // justify-content: center;
  }
  .text-area {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .slab-alt {
    flex-direction: row;
    margin: 2vmax 2vmax;
    justify-content: space-evenly;

    .text-area {
      flex-direction: column;
    }
  }
  footer {
    padding: 4vmax 2vmax;

    .txt {
      font-size: 1vmax;
    }
  }

  .text-section {
    text-align: center;
  }
  .search {
    flex-direction: column;
    height: 100%;

    i {
      display: none;
    }
  }
  .work-imgs {
    display: none;
  }
  .final-img {
    // display: none;
    height: 25vmax;
    width: 25vmax;
  }
  .main-section {
    height: 70vmax;
    .t1 {
      align-items: flex-end;
    }
  }
  img {
    transform: scale(0.7);
  }
  i {
    transform: scale(0.5);
  }
  #img2 {
    display: none;
  }

  .steps-container {
    overflow: scroll;
  }
  .steps {
    padding: 2vmax 3.5vmax 5vmax 3.5vmax;
  }
}
